// Fonts
$montserrat: "Montserrat", "Arial", "Helvetica", sans-serif;

// Layout
$container-padding: 30px;

// Colors
$gray: #828282;
$cod-gray: #070707;
$white: white;
$wild-sand: #f6f6f6;
$mercury: #e5e5e5;

// Breakpoints
$md: 768px;
$sm: 578px;